<section class="section__header">
  <div class="container">
    <div class="header">
      <div class="hero__wrapper">
        <h1 class="hero__title main__title">Поставщик Дальнего Востока</h1>
        <p class="hero__text text">
          Наши клиенты получают полный спектр услуг по работе с Китаем. Начиная с подбора
          производителя заканчивая доставкой товара до двери.
        </p>
        <a class="link" href="#">Узнать больше</a>
      </div>
      <img
        class="hero__img"
        src="/images/hero/adir-Cargo-Insurance.png"
        srcset="
          /images/hero/adir-Cargo-Insurance.png    1x,
          /images/hero/adir-Cargo-Insurance@2x.png 2x,
          /images/hero/adir-Cargo-Insurance@3x.png 3x
        "
        width="690"
        alt="adir-Cargo-Insurance"
      />
    </div>
  </div>
</section>
