<section class="section__header">
  <div class="container">
    <div class="header">
      <div class="hero__wrapper">
        <h1 class="hero__title main__title">Поставщик Дальнего Востока</h1>
        <p class="hero__text text">
          Наши клиенты получают полный спектр услуг по работе с Китаем. Начиная с подбора
          производителя заканчивая доставкой товара до двери.
        </p>
        <a class="link" href="#">Узнать больше</a
        ><img
          class="hero__img"
          src="'../../images/hero/adir-Cargo-Insurance.png"
          width="690"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
