<div class="header">
  <div class="wrapper">
    <h1 class="header__title main__title">Поставщик Дальнего Востока</h1>
    <p class="header__text text">
      Наши клиенты получают полный спектр услуг по работе с Китаем. Начиная с подбора
      производителя заканчивая доставкой товара до двери.
    </p>
    <a class="link" href="#">Узнать больше</a>
  </div>
  <img class="hero__img" src="/images/hero/adir-Cargo-Insurance.webp" srcset="
          /images/hero/adir-Cargo-Insurance.webp    1x,
          /images/hero/adir-Cargo-Insurance@2x.webp 2x,
          /images/hero/adir-Cargo-Insurance@3x.webp 3x
        " width="690" alt="adir-Cargo-Insurance" />
</div>