<div class="container">
  <h1 class="header__title main__title">Поставщик Дальнего Востока</h1>
  <p class="text">
    Наши клиенты получают полный спектр услуг по работе с Китаем. Начиная с подбора производителя
    заканчивая доставкой товара до двери.
  </p>
  <a href="#">Узнать больше</a>
  <img src="#" alt="#" />
  <ul class="services__list">
    <li class="services__item">
      <h3 class="services__item__title secondary__title">Поиск производителей по товару</h3>
      <p class="services__item__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.
      </p>
    </li>
    <li class="services__item">
      <h3 class="services__item__title secondary__title">Поиск конкретного производителя</h3>
      <p class="services__item__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.
      </p>
    </li>
    <li class="services__item">
      <h3 class="services__item__title secondary__title">Доставка образцов товаров</h3>
      <p class="services__item__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.
      </p>
    </li>
  </ul>
</div>
