body {

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}


.main__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;

  font-family: 'Exo 2', sans-serif;

  color: $color-main-font;

  @media screen and (min-width:$tablet) {
    font-size: 44px;
    line-height: 55px;
  }
}

.secondary__title {

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  font-family: 'Exo 2', sans-serif;

  color: $color-main-font;

  @media screen and (min-width:$tablet) {
    font-size: 20px;
    line-height: 27px;
  }
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  font-family: 'PT Sans', sans-serif;

  color: $color-additional-font;

  @media screen and (min-width:$tablet) {
    font-size: 16px;
    line-height: 24px;
  }


}