.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;



  // @media screen and (min-width:$mobile) {
  //   width: $mobile;
  // }

  // @media screen and (min-width:$tablet) {
  //   width: $tablet;
  //   padding-left: 39px;
  //   padding-left: 39px;
  // }

  // @media screen and (min-width:$desktop) {
  //   width: $desktop;
  //   padding-left: 100px;
  //   padding-right: 100px;
  // }
}