{{#each this}}
  <img class='card__img' src='{{preview}}' alt='our works' />
  {{#each description}}
    <h2 class='card__title secondary__title'>{{title}}</h2>
    <p class='card__text text'>
      {{description}}
    </p>
    <p class='text card__price'>{{price}}</p>
  {{/each}}
{{/each}}