$accent-color: #0B7572;
$color-main-font: #363738;
$color-additional-font: #6B6B6C;
$color-background: #BFBFC7;
$color-shadow :rgba(0, 0, 0, 0.12);
$color-line: #FFCE50;

// //*---fonts---*//
$font-family-main: Exo 2,
sans-serif;
$font-family-additional: PT Sans,
sans-serif;