<section class="contacts">
  <div class="container">
    <h2 class="contacts__title main__title">Наши контакты</h2>
    <ul class="contacts__list">
      <li class="contact__item">
        <svg width="24" height="33"><use href="./images/icon/sprite.svg#icon-phone"></use></svg>
        <div class="contact__description">
          <h3 class="contact__text text">Телефон</h3>
          <p class="contact__title secondary__title">+7 8422 99 666 5</p>
        </div>
      </li>
      <li class="contact__item">
        <svg width="32" height="20"><use href="./images/icon/sprite.svg#icon-letter"></use></svg>
        <div class="contact__description">
          <h3 class="contact__text text">E-mail</h3>
          <p class="contact__title secondary__title">info@pdv.ooo</p>
        </div>
      </li>
      <li class="contact__item">
        <svg width="32" height="32"><use href="./images/icon/sprite.svg#icon-whatsapp"></use></svg>
        <div class="contact__description">
          <h3 class="contact__text text">Whatsapp</h3>
          <p class="contact__title secondary__title">+7 8422 99 666 5</p>
        </div>
      </li>
      <li class="contact__item">
        <svg width="32" height="32"><use href="./images/icon/sprite.svg#icon-skype"></use></svg>
        <div class="contact__description">
          <h3 class="contact__text text">Skype</h3>
          <p class="contact__title secondary__title">sxy-bolts.cn</p>
        </div>
      </li>
    </ul>
  </div>
</section>
