<section class="contacts">
  <div class="container">
    <h2 class="contacts__title main__title"></h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <h3>Телефон</h3>
        <p>+7 8422 99 666 5</p>
      </li>
      <li class="contacts__item">
        <h3>E-mail</h3>
        <p>info@pdv.ooo</p>
      </li>
      <li class="contacts__item">
        <h3>Whatsapp</h3>
        <p>+7 8422 99 666 5</p>
      </li>
      <li class="contacts__item">
        <h3>Skype</h3>
        <p>sxy-bolts.cn</p>
      </li>
    </ul>
  </div>
</section>
