<section class="contacts">
  <div class="container">
    <h2 class="contacts__title main__title">Наши контакты</h2>
    <div class="wrapper">
      <ul class="contacts__list">
        <li class="contact__item"><svg width="24" height="33">
            <use href="./images/icon/sprite.svg#icon-phone"></use>
          </svg>
          <div class="contact__description">
            <h3 class="text">Телефон</h3>
            <a class="secondary__title" href="tel:+48 999 999 999">+48 999 999 999</a>
          </div>
        </li>
        <li class="contact__item"><svg width="32" height="20">
            <use href="./images/icon/sprite.svg#icon-letter"></use>
          </svg>
          <div class="contact__description">
            <h3 class="text">E-mail</h3>
            <a href="mailto:info@pdv.ooo" class="secondary__title">info@pdv.ooo</a>
          </div>
        </li>
        <li class="contact__item"><svg width="32" height="32">
            <use href="./images/icon/sprite.svg#icon-whatsapp"></use>
          </svg>
          <div class="contact__description">
            <h3 class="text">Whatsapp</h3>
            <p class="secondary__title">+48 999 999 999</p>
          </div>
        </li>
        <li class="contact__item"><svg width="32" height="32">
            <use href="./images/icon/sprite.svg#icon-skype"></use>
          </svg>
          <div class="contact__description">
            <h3 class="text">Skype</h3>
            <p class="secondary__title">sxy-bolts.cn</p>
          </div>
        </li>
      </ul>
      <ul class="proceedings__list">
        <li class="proceedings__item">
          <p class="text">Полное наименование:</p>
          <h3 class="secondary__title proceedings__title">ООО "Lorem ipsum dolor"</h3>
        </li>
        <li class="proceedings__item">
          <p class="text">ИНН:</p>
          <h3 class="secondary__title proceedings__title">5232567397</h3>
        </li>
        <li class="proceedings__item">
          <p class="text">КПП:</p>
          <h3 class="secondary__title proceedings__title">353453579</h3>
        </li>
        <li class="proceedings__item">
          <p class="text">ОГРН:</p>
          <h3 class="secondary__title proceedings__title">7262325074762</h3>
        </li>
        <li class="proceedings__item">
          <p class="text">Адрес:</p>
          <h3 class="secondary__title proceedings__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolorum accusamus dolore error ab dignissimos </h3>
        </li>
      </ul>
    </div>
  </div>
</section>