<section class="form__wrapper">
  <div class="container">
    <form class="form">
      <label class="form__label main__title" for=""
        >Свяжитесь с нами
        <textarea
          class="form__textarea secondary__title"
          name="description-task"
          id=""
          cols="30"
          rows="5"
          placeholder="Опишите задачу..."
        ></textarea>
        <label class="form__input__File text"
          >Добавьте фото товара
          <input
            class="form__file"
            name="name_upload_img"
            type="file"
            accept="image/*,.pdf"
            multiple="false"
          />
        </label>
      </label>
    </form>
  </div>
</section>
