<section class="proceedings">
  <div class="container">
    <ul class="proceedings__list">
      <li class="proceedings__item">
        <p class="text">Полное наименование:</p>
        <h3 class="secondary__title proceedings__title">ООО "Lorem ipsum dolor"</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">ИНН:</p>
        <h3 class="secondary__title proceedings__title">5232567397</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">КПП:</p>
        <h3 class="secondary__title proceedings__title">353453579</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">ОГРН:</p>
        <h3 class="secondary__title proceedings__title">7262325074762</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">Адрес:</p>
        <h3 class="secondary__title proceedings__title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusamus dolore error ab
          dignissimos
        </h3>
      </li>
    </ul>
  </div>
</section>
