<section class="proceedings">
  <div class="container">
    <ul>
      <li>
        <h3>Полное наименование:</h3>
        <p>ООО "Поставщик Дальнего Востока"</p>
      </li>
      <li>
        <h3>ИНН:</h3>
        <p>7329023100</p>
      </li>
      <li>
        <h3>КПП:</h3>
        <p>732901001</p>
      </li>
      <li>
        <h3>ОГРН:</h3>
        <p>1167325074762</p>
      </li>
      <li>
        <h3>Адрес:</h3>
        <p>
          Россия, Ульяновская обл, территория Портовой Особой Экономической Зоны, проезд Первых
          Резидентов дом 3
        </p>
      </li>
    </ul>
  </div>
</section>
