<section class="proceedings">
  <div class="container">
    <ul class="proceedings__list">
      <li class="proceedings__item">
        <p class="text">Полное наименование:</p>
        <h3 class="secondary__title proceedings__title">ООО "Поставщик Дальнего Востока"</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">ИНН:</p>
        <h3 class="secondary__title proceedings__title">7329023100</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">КПП:</p>
        <h3 class="secondary__title proceedings__title">732901001</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">ОГРН:</p>
        <h3 class="secondary__title proceedings__title">1167325074762</h3>
      </li>
      <li class="proceedings__item">
        <p class="text">Адрес:</p>
        <h3 class="secondary__title proceedings__title">
          Россия, Ульяновская обл, территория Портовой Особой Экономической Зоны, проезд Первых
          Резидентов дом 3
        </h3>
      </li>
    </ul>
  </div>
</section>
