<section class="video_block">
  <h2>Видео о нашей работе</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in
    cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in.
    Pharetra convallis posuere morbi leo urna. Eget sit amet tellus cras adipiscing.
  </p>
  <!-- <video
    src="http://techslides.com/demos/sample-videos/small.webm"
    poster="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?w=640"
    width="340"
    controls
    loop
    preload="auto"
  ></video> -->
</section>
