<section class="your__info">
  <div class="container">
    <h2>Ваши данные</h2>
    <div class="description">
      <h3>Описание задачи</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros
        in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris
        in. Pharetra convallis posuere morbi leo urna. Eget sit amet tellus cras adipiscing.
      </p>
    </div>
    <div class="task">
      <h3>Техническое задание</h3>
      <a href="#">TЗ_задачи.doc</a>
    </div>
    <div class="photo">
      <h3>Фотографии товара</h3>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </div>
</section>
