.contacts {
  margin-top: 116px;

  .contacts__list {
    margin-top: 56px;
  }

  .contact__item {
    display: flex;
    align-items: flex-start;
  }

  .contact__item:not(:first-child) {
    margin-top: 48px;
  }

  .contact__description {
    margin-left: 32px;

    .contact__text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .contacts {
    margin-top: 100px;

    .contacts__list {
      margin-top: 64px;
    }

    .contact__item:not(:first-child) {
      margin-top: 44px;
    }

    .contact__description .contact__text {
      font-size: 16px;
    }

  }
}