.video__block {
  margin-top: 64px;
  padding-bottom: 44px;


  .text__description {
    margin-top: 32px;
  }

  .video {
    margin-top: 40px;
  }
}

@media screen and (min-width: $tablet) {
  .video__block {
    margin-top: 88px;

    video {
      width: 100%;
    }
  }
}