.your__info {
  margin-top: 64px;

  .description {
    margin-top: 32px;

    &__text {
      margin-top: 16px;
    }
  }

  .tasks {
    margin-top: 40px;

    .tasks__download {
      display: inline-flex;
      margin-top: 16px;
      align-items: center;
      text-decoration: underline;


      &::before {
        content: "";
        background-image: url(../images/icon/file.svg);
        background-repeat: no-repeat;
        display: block;
        margin-right: 16px;
        width: 15px;
        height: 20px;
      }

      &:hover {
        color: black;
      }
    }
  }

  .photo {
    margin-top: 40px;

    .goods__list {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
    }

    .goods__image {
      width: 109px;
      height: 86px;
    }
  }
}


@media screen and (min-width: $tablet) {
  .your__info {
    margin-top: 88px;

    .wrapper {
      margin-top: 40px;
      padding: 32px 72px 48px 40px;
      background-color: #F9F9FB;
    }

    .description {
      margin: 0;
    }

    .tasks {
      margin-top: 48px;
    }

    .photo {
      margin-top: 48px;

      .goods__image {
        width: 175px;
        height: 136px;
      }
    }
  }

}