.section__header .container {
  background-color: $accent-color;
}

.header {
  padding-bottom: 474px;

  .hero__img {
    display: none;
  }
}

.hero__title {
  padding-top: 75px;
  color: #fff;
}

.hero__text {
  margin-top: 22px;
  color: #fff;
}

.link {
  display: inline-block;
  margin-top: 40px;

  color: #fff;

  &::after {
    content: '';
    display: block;
    border-bottom: 3px solid $color-line;

    margin-top: 8px;
  }
}

@media (min-width: $tablet) {
  .section__header .container {
    background: linear-gradient(90deg, #fff 75%, $accent-color 25%);
  }

  .header {
    padding-bottom: 0;

    .hero__title {
      color: $color-main-font;
      padding-right: 206px;
    }

    .hero__text {
      color: $color-additional-font;
      padding-right: 206px;
    }

    .link {
      font-size: 16px;
      color: currentColor;
    }

    .hero__img {
      display: block;
      padding-top: 56px;
    }
  }
}