 .header__container {
   background-color: $accent-color;
 }

 .header {
   padding-bottom: 474px;
 }

 .header__title {
   padding-top: 75px;
   color: #fff;
 }

 .header__text {
   margin-top: 22px;
   color: #fff;
 }

 .link {
   display: inline-block;
   margin-top: 40px;

   color: #fff;

   &::after {
     content: '';
     display: block;
     margin-top: 8px;

     border-bottom: 3px solid $color-line;
   }
 }

 .hero__img {
   display: none;
 }

 @media (min-width: $tablet) {
   .header__container {
     background: linear-gradient(90deg, #fff 75%, $accent-color 25%);
   }

   .header {
     padding-bottom: 0;

     .header__title {
       color: $color-main-font;
       padding-right: 206px;
     }

     .header__text {
       color: $color-additional-font;
       padding-right: 206px;
     }

     .link {
       font-size: 16px;
       color: currentColor;
     }

     .hero__img {
       display: block;
       padding-top: 56px;
     }
   }
 }

 @media screen and (min-width:$desktop) {
   .header__container {
     background: linear-gradient(90deg, #fff 65%, $accent-color 35%);
   }

   .header {
     display: flex;
     padding-top: 109px;
     padding-bottom: 173px;

     .header__title {
       padding-right: 10px;
     }

     .header__text {
       margin-top: 40px;
       padding-right: 10px;
     }

     .hero__img {
       padding-top: 0px;
       width: 635px;
       height: 405px;
     }
   }
 }