.clients {
  margin-top: 68px;

  .box {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $accent-color;

    background-image: url(../images/path2195.png);
    background-repeat: no-repeat;
  }

  .clients__title {
    color: #fff;
  }

  .cards__collection {
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    border-radius: 4px;
    background-color: #fff;

    .logo {
      padding-top: 24px;
    }
  }

  .card {
    margin-top: 24px;
    padding-bottom: 32px;

    background-color: #F9F9FB;

    .card__title {
      padding: 7px 16px 6px;

      background-color: $accent-color;
      border-radius: 2px;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
    }

    .client__place {
      margin-top: 18px;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;

      .client__info {
        margin-left: 16px;

        .client__text {
          font-size: 14px;
          line-height: 19px;
        }

        .client__cost {
          margin-top: 12px;

          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    .client__address {
      margin-top: 24px;
      padding-left: 16px;
      padding-right: 16px;

      &::before {
        content: "";
        display: block;
        border: 1px solid #D7D7DD;
        margin-bottom: 16px;
      }
    }

    .client__address .address__title {
      font-size: 14px;
      font-weight: 700;

    }

    .client__address .address__text {
      margin-top: 10px;
      font-size: 14px;
    }

    .client__contact {
      margin-top: 16px;
      padding-left: 16px;
      padding-right: 16px;

      &::before {
        content: "";
        display: block;
        border: 1px solid #D7D7DD;
        margin-bottom: 16px;
      }
    }

    .client__contact .client__name {
      font-weight: 700;
      font-size: 14px;
      color: $color-main-font;
      line-height: 19px;
    }

    .client__contact .client__position {
      margin-top: 12px;
      font-size: 14px;
      line-height: 19px;
    }

    .client__contact .client__tel {
      margin-top: 10px;
      font-size: 14px;
      color: $color-main-font;
      line-height: 19px;

    }
  }
}

.table__clients {
  display: none;
}

@media screen and (min-width: $tablet) {
  .card {
    display: none;
  }

  .table__clients {
    display: block;
    margin-top: 24px;
    border-collapse: collapse;

    h2,
    p {
      font-size: 14px;

    }

    .table__header {
      background-color: $accent-color;
    }

    .header__title {
      color: #fff;
      font-size: 16px;
      padding: 10px 36px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    tbody td {
      background-color: #F9F9FB;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .image {
      padding: 0 16px;
    }

    .description,
    .producer,
    .contact {
      padding: 10px 10px;
    }
  }
}