.client__activity {
  margin-top: 64px;


  .activity__list {
    margin-top: 32px;
  }

  .list__item:not(:first-child) {
    margin-top: 10px;
  }

  .list__item {
    border: 1px solid #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }

  .list__item:hover {
    border: 1px solid #0B7572;
  }

  .activity__label {
    display: flex;
    align-items: flex-start;
    padding: 24px 17px 32px 16px;

    cursor: pointer;

    .radio__content {
      margin-left: 16px;
    }

    .radio__text {
      margin-top: 16px;
 font-size: 14px;
 }
 }

 }