.our__works {
  margin-top: 72px;


  .works__text {
    margin-top: 24px;
  }

  .card {
    margin-top: 32px;
    padding-bottom: 24px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    .card__img {
      width: 345px;
      height: 222px;
    }

    .card__title {
      margin-top: 22px;
      padding-left: 24px;
    }

    .card__text {
      margin-top: 16px;
      padding-left: 24px;
    }

    .card__price {
      margin-top: 24px;
      padding-left: 24px;
      display: inline-block;

      font-size: 15px;
      font-weight: 600;
      line-height: 20px;

      color: $color-main-font;

      font-family: 'Exo 2', sans-serif;

      &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $color-line;

        margin-top: 8px;
      }
    }

  }

  .card__slider {
    display: flex;
    margin-top: 24px;
    justify-content: center;

  }

}