.our__team {
  margin-top: 64px;

  .team__list {
    margin-top: 32px;
  }

  .team__item:not(:first-child) {
    margin-top: 14px;
  }

  .team__item {
    position: relative;
    display: flex;

    align-items: center;


    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    .rotate {
      position: absolute;
      width: 20px;
      height: 100%;

      background-color: $accent-color;

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .photo {
      margin-left: 36px;
      padding-top: 24px;
      padding-bottom: 32px;

      border-radius: 50%;
    }

    .description {
      padding-top: 24px;
      padding-bottom: 32px;
      margin-left: 16px;
    }

    .description .text {
      margin-top: 10px;
      font-size: 14px;
    }

    .description .social__list {
      display: flex;
      margin-top: 23px;
    }

    .description .social__item {
      display: flex;
      justify-content: center;
      align-items: center;


      border-radius: 50%;
      width: 40px;
      height: 40px;

      cursor: pointer;

      .icon {
        color: $color-background;
      }

    }

    .description .social__item:hover {
      transition: 1s;
      background-color: $accent-color;

      .icon {
        color: #fff;
      }
    }

    .description .social__item:not(:first-child) {
      margin-left: 20px;
    }
  }
}