.our__works {
  margin-top: 72px;

  .works__text {
    margin-top: 24px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {

    text-align: center;
    font-size: 18px;
    background: #fff;

    margin-top: 32px;
    margin-bottom: 20px;
    padding-bottom: 24px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    cursor: pointer;

    .card__title {
      margin-top: 22px;
      padding-left: 24px;
    }

    .card__text {
      margin-top: 16px;
      padding-left: 24px;
    }

    .card__price {
      margin-top: 24px;
      padding-left: 24px;
      display: inline-block;

      font-size: 15px;
      font-weight: 600;
      line-height: 20px;

      color: $color-main-font;

      font-family: 'Exo 2', sans-serif;

      &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $color-line;

        margin-top: 8px;
      }
    }

    img {
      display: block;
      width: 345px;
      height: 222px;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }
}