.profit {
  margin-top: 64px;

  .profit__banner {
    display: none;
  }

  .profit__list {
    margin-top: 48px;
  }

  .profit__item {
    display: flex;
    align-items: flex-start;
  }

  .profit__item:not(:first-child) {
    margin-top: 38px;
  }

  .wrapper {
    margin-left: 16px;

    .item__text {
      margin-top: 12px;
    }
  }

  .profit__icon {
    display: flex;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    background-color: $color-background-icon;
    border-radius: 50%;

    .icon {
      width: 52px;
    }
  }
}

@media screen and (min-width:$tablet) {
  .profit {
    margin-top: 88px;

    .mobile__title {
      display: none;
    }

    .profit__banner {
      display: block;
      width: $tablet;
      height: 380px;
      margin-left: auto;
      margin-right: auto;
      padding: 130px 0 150px 39px;

      background-image: url('../images/profit_banner.png');
      background-size: cover;
      background-position: -78px;
      background-repeat: no-repeat;

      .profit__title {
        color: #fff;
      }
    }

    .profit__list .profit__item {
      align-items: center;
    }

    .profit__item:not(:first-child) {
      margin-top: 48px;
    }

    .profit__icon {
      width: 88px;
      height: 88px;

      .icon {
        width: 50px;
        height: 50px;
      }
    }

    .wrapper {
      margin-left: 48px;
    }

  }
}

@media screen and (min-width:$desktop) {
  .profit {
    margin-top: 100px;

    .profit__banner {
      width: $desktop;

    }

    .profit__title {
      font-size: 48px;
      padding-left: 100px;
    }

    .profit__list {
      margin-top: 78px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .profit__item {
      width: 447px;
    }

    .profit__item:not(:first-child) {
      margin-top: 0px;
    }

    .profit__item:nth-child(1n+3) {
      margin-top: 62px;
    }

    .profit__icon {
      padding: 26px;
    }

    .wrapper {
      margin-left: 40px;
    }
  }
}