.services {
  margin-top: -120px;
  padding: 24px 27px 32px 32px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #fff;

  .services__icon {
    display: flex;
    width: 68px;
    height: 68px;

    align-items: center;
    justify-content: center;

    background-color: $color-background-icon;
    border-radius: 50%;
  }

  .description__title {
    margin-top: 16px;
  }

  .description__text {
    margin-top: 12px;
  }
}

@media screen and (min-width:$tablet) {
  .services {
    margin-top: 41px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    .services__item {
      display: flex;
      padding: 32px;

      align-items: center;

      border-radius: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);

      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    .services__icon {
      width: 92px;
      height: 92px;
      margin-right: 32px;

      .icon {
        width: 50px;
        height: 50px;
      }
    }

    .description__title {
      margin: 0;
    }

    .description__text {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .services {
    display: flex;
    margin-top: -120px;
    padding-top: 40px;
    padding-bottom: 56px;

    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    .services__item {
      display: block;
      width: calc(100%/3);

      padding: 0 0 0 80px;
      box-shadow: none;
      border-radius: 0;

      &:not(:first-child) {
        margin-top: 0px;
        padding-left: 64px;
        border-left: 1px solid #D7D7DD;
      }

      .description {
        margin-top: 24px;
        width: 228px;
      }

      .description__text {
        margin-top: 16px;
      }
    }
  }
}