<section class="clients">
  <div class="container box">
    <h2 class="clients__title main__title">Привлеченные клиенты</h2>
    <div class="cards__collection">
      <div class="logo">
        <svg class="icon" width="79" height="43">
          <use href="./images/icon/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="card">
        <h3 class="card__title secondary__title">Клиент №1</h3>
        <div class="client__place">
          <img src="./images/Rectangle.png" alt="" width="90" height="90" />
          <div class="client__info">
            <p class="client__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
            </p>
            <p class="client__cost secondary__title">12 000 грн.</p>
          </div>
        </div>
        <div class="client__address">
          <p class="address__title text">Завод “Hlobalkhim”</p>
          <address class="address__text text">
            г. Киев, проспект Кутузовский, д. 12 стр. 1 этаж, пом. 1
          </address>
        </div>
        <div class="client__contact">
          <p class="client__name text">Коваль Иван Борисович</p>
          <p class="client__position text">Руководитель отдела поставок</p>
          <p class="client__tel text">+48 888 888 888</p>
        </div>
      </div>
      <table class="table__clients"></table>
    </div>
  </div>
</section>