<section class="client__activity">
  <div class="container">
    <h2 class="main__title">В какой сфере вы работаете?</h2>
    <p class="text description__section">
      Мы проводим опрос среди пользователей сайта, чтобы предоставить Вам информацию соответствующую
      сфере Вашей деятельности.
    </p>
    <div class="wrapper">
      <ul class="activity__list">
        <li class="list__item js--activity__item">
          <label class="activity__label" for="production"><input class="custom-radio js-activity__checkbox" type="radio"
              id="production" name="activity" />
            <div class="radio__content">
              <h3 class="secondary__title">Я работаю на произвостве</h3>
              <p class="radio__text text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </label>
        </li>
        <li class="list__item js--activity__item">
          <label class="activity__label" for="deliver"><input class="custom-radio js-activity__checkbox" type="radio"
              id="deliver" name="activity" />
            <div class="radio__content">
              <h3 class="secondary__title">Я поставляю товары</h3>
              <p class="radio__text text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </label>
        </li>
        <li class="list__item js--activity__item checked">
          <label class="activity__label" for="equipment"><input class="custom-radio js-activity__checkbox" checked
              type="radio" id="equipment" name="activity" />
            <div class="radio__content">
              <h3 class="secondary__title">Я помогаю подобрать оборудование</h3>
              <p class="radio__text text">
                Lorem ipsum dolor siabomet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </label>
        </li>
      </ul>
      <div class="voting__results js-voting__results">
        <h2 class="secondary__title">Проголосовало:</h2>
        <p class="main__title">1107 <span class="secondary__title">пользователей</span></p>
      </div>
    </div>


  </div>

</section>