<section class="client__activity">
  <div class="container">
    <h2 class="activity__title main__title">В какой сфере вы работаете?</h2>
    <ul class="list">
      <li class="list__item">
        <label for="production">
          <input type="radio" id="production" name="activity" />
          <h3 class="secondary__title">Я работаю на произвостве</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </p>
        </label>
      </li>
      <li class="list__item">
        <label for="deliver">
          <input type="radio" id="deliver" name="activity" />
          <h3 class="secondary__title">Я поставляю товары</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </p>
        </label>
      </li>
      <li class="list__item">
        <label for="equipment">
          <input type="radio" id="equipment" name="activity" />
          <h3 class="secondary__title">Я помогаю подобрать оборудование</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </p>
        </label>
      </li>
    </ul>
  </div>
</section>
