<section class="client__activity">
  <div class="container">
    <h2 class="main__title">В какой сфере вы работаете?</h2>
    <ul class="activity__list">
      <li class="list__item">
        <label class="activity__label" for="production"
          ><input class="custom-radio" type="radio" id="production" name="activity" />
          <div class="radio__content">
            <h3 class="secondary__title">Я работаю на произвостве</h3>
            <p class="radio__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>
          </div></label
        >
      </li>
      <li class="list__item">
        <label class="activity__label" for="deliver"
          ><input class="custom-radio" type="radio" id="deliver" name="activity" />
          <div class="radio__content">
            <h3 class="secondary__title">Я поставляю товары</h3>
            <p class="radio__text text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>
          </div></label
        >
      </li>
      <li class="list__item">
        <label class="activity__label" for="equipment"
          ><input class="custom-radio" checked type="radio" id="equipment" name="activity" />
          <div class="radio__content">
            <h3 class="secondary__title">Я помогаю подобрать оборудование</h3>
            <p class="radio__text text">
              Lorem ipsum dolor siabomet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>
          </div></label
        >
      </li>
    </ul>
  </div>
</section>
