<section class="clients">
  <div class="container">
    <h2 class="main__title">Привлеченные клиенты</h2>
    <div class="cards__collection">
      <span>LOGO</span>
      <div class="card">
        <h3>Клиент №1</h3>
        <div class="client__place">
          <img src="#" alt="" width="90" height="90" />
          <p class="text"></p>
          <p class="sum">120 000 руб.</p>
        </div>
        <div class="client__addres">
          <p>Завод “Hlobalkhim”</p>
          <address>г. Москва, проспект Кутузовский, д. 12 стр. 1 этаж, пом. 1</address>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="client__contact">
          <p class="client__name second__title">Коваль Иван Борисович</p>
          <p class="client__position text">Руководитель отдела поставок</p>
          <p class="client__tel">+ 7 (495) 765 33 22</p>
        </div>
      </div>
    </div>
  </div>
</section>
