<section class="delivery">
  <div class="container">
    <h2 class="main__title">Этапы поставки</h2>
    <ul class="delivery__list">
      <li class="list__item">
        <span class="list__number main__title">1</span>
        <h3 class="item__title secondary__title">Предложение от продавца</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
      <li class="list__item">
        <span class="list__number main__title">2</span>

        <h3 class="item__title secondary__title">Доставка</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
      <li class="list__item">
        <span class="list__number main__title">3</span>
        <h3 class="item__title secondary__title">Установка у клиента</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
    </ul>
  </div>
</section>
