<section class="delivery">
  <div class="container">
    <h2 class="title main__title">Этапы поставки</h2>
    <ul class="list">
      <li class="list__item">
        <h3 class="item__title second__title">Предложение от продавца</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
      <li class="list__item">
        <h3 class="item__title second__title">Доставка</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
      <li class="list__item">
        <h3 class="item__title second__title">Установка у клиента</h3>
        <p class="item_text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </li>
    </ul>
  </div>
</section>
