<section class="delivery">
  <div class="container">
    <h2 class="main__title">Этапы поставки</h2>
    <ul class="list">
      <li class="item">
        <span class="item__number main__title">1</span>
        <img src="/images/delivery/offer/offer.webp" width="331" height="181" alt="offer image" srcset="/images/delivery/offer/offer.webp 1x,
        /images/delivery/offer/offer@2x.webp 2x,
        /images/delivery/offer/offer@3x.webp 3x">
        <div class="wrapper">
          <h3 class="item__title secondary__title">Предложение от продавца</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. <span class='item__text--hidden'>Elit duis tristique sollicitudin nibh sit amet. Ultrices eros
              in
              cursus turpis massa
              tincidunt.
              Venenatis urna cursus eget nunc scelerisque viverra mauris in.</span>
          </p>
        </div>
      </li>
      <li class="item">
        <span class="item__number main__title">2</span>
        <img src="/images/delivery/delivery/delivery.webp" width="331" height="181" alt="delivery image" srcset="/images/delivery/delivery/delivery.webp 1x,
         /images/delivery/delivery/delivery@2x.webp 2x,
          /images/delivery/delivery/delivery@3x.webp 3x">
        <div class="wrapper">
          <h3 class="item__title secondary__title">Доставка</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. <span class='item__text--hidden'>Elit duis tristique sollicitudin nibh sit amet. Ultrices eros
              in cursus turpis massa
              tincidunt.
              Venenatis urna cursus eget nunc scelerisque viverra mauris in.</span>
          </p>
        </div>
      </li>
      <li class="item">
        <span class="item__number main__title">3</span>
        <img src="/images/delivery/montage/montage.webp" width="331" height="181" alt="montage image" srcset="/images/delivery/montage/montage.webp 1x,
                        /images/delivery/montage/montage@2x.webp 2x,
                        /images/delivery/montage/montage@3x.webp 3x">
        <div class="wrapper">
          <h3 class="item__title secondary__title">Установка у клиента</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. <span class='item__text--hidden'>Elit duis tristique sollicitudin nibh sit amet. Ultrices eros
              in cursus turpis massa
              tincidunt.
              Venenatis urna cursus eget nunc scelerisque viverra mauris in.</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>