<section class="our__clients">
  <div class="container">
    <h2 class="title main__title">Нам доверяют</h2>
    <ul class="list">
      <li class="list__item">
        <img class="logo" src="" alt="" />
        <h3 class="item__title secont__title"></h3>
        <p class="item__text text"></p>
      </li>
      <li class="list__item">
        <img class="logo" src="" alt="" />
        <h3 class="item__title secont__title"></h3>
        <p class="item__text text"></p>
      </li>
      <li class="list__item">
        <img class="logo" src="" alt="" />
        <h3 class="item__title secont__title"></h3>
        <p class="item__text text"></p>
      </li>
      <li class="list__item">
        <img class="logo" src="" alt="" />
        <h3 class="item__title secont__title"></h3>
        <p class="item__text text"></p>
      </li>
    </ul>
    <ul class="slider__list">
      <li class="slider__item"></li>
      <li class="slider__item"></li>
    </ul>
  </div>
</section>
