<section class="our__team">
  <div class="container">
    <h2 class="main__title">Сотрудники компании</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="rotate"></div>
        <img
          class="photo"
          srcset="
            ./images/team/Makarov/makarov@1x.jpg 1x,
            ./images/team/Makarov/makarov@2x.jpg 2x,
            ./images/team/Makarov/makarov@3x.jpg 3x
          "
          src="./images/team/Makarov/makarov@1x.jpg"
          alt="photo Makarov"
        />
        <div class="description">
          <h2 class="secondary__title">Антон Макаров</h2>
          <p class="text">Руководитель компании</p>
          <ul class="social__list">
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="29" height="17">
                  <use href="./images/icon/sprite.svg#icon-vk"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="rotate"></div>
        <img
          class="photo"
          srcset="
            ./images/team/Valerieva/valerieva@1x.jpg 1x,
            ./images/team/Valerieva/valerieva@2x.jpg 2x,
            ./images/team/Valerieva/valerieva@3x.jpg 3x
          "
          src="./images/team/Valerieva/valerieva@1x.jpg"
          alt="photo Valerieva"
        />
        <div class="description">
          <h2 class="secondary__title">Елена Валерьева</h2>
          <p class="text">Главный бухгалтер</p>
          <ul class="social__list">
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="29" height="17">
                  <use href="./images/icon/sprite.svg#icon-vk"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="rotate"></div>
        <img
          class="photo"
          srcset="
            ./images/team/Arkadiev/arkadiev@1x.jpg 1x,
            ./images/team/Arkadiev/arkadiev@2x.jpg 2x,
            ./images/team/Arkadiev/arkadiev@3x.jpg 3x
          "
          src="./images/team/Arkadiev/arkadiev@1x.jpg"
          alt=" photo Arkadiev"
        />
        <div class="description">
          <h2 class="secondary__title">Иван Аркадьев</h2>
          <p class="text">Менеджер по закупкам</p>
          <ul class="social__list">
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="29" height="17">
                  <use href="./images/icon/sprite.svg#icon-vk"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a href="http://" target="_blank" rel="noopener"
                ><svg width="20" height="20">
                  <use href="./images/icon/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
