<section class="our__team">
  <div class="container">
    <ul class="team__list">
      <li class="team__item">
        <img src="" alt="" />
        <h2 class="second__title">Антон Макаров</h2>
        <p class="text">Руководитель компании</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
      <li class="team__item">
        <img src="" alt="" />
        <h2 class="second__title">Елена Валерьева</h2>
        <p class="text">Главный бухгалтер</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
      <li class="team__item">
        <img src="" alt="" />
        <h2 class="second__title">Иван Аркадьев</h2>
        <p class="text">Менеджер по закупкам</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
