<section class="our_wokrs">
  <div class="container">
    <h2 class="works__title main__title">Выполненные работы</h2>
    <p class="works__text text">
      Мы собрали информацию по грузам, которые мы уже доставили. У нас специальный подход к каждому
      виду товаров.
    </p>
    <div class="card">
      <img class="card__img" src="" alt="" />
      <h2 class="card__title second__title"></h2>
      <p class="card__text text"></p>
      <p class="card__price">20 000 руб.</p>
    </div>
    <ul class="card__slider">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
</section>
