<section class="our__works">
  <div class="container">
    <h2 class="works__title main__title">Выполненные работы</h2>
    <p class="works__text text">
      Мы собрали информацию по грузам, которые мы уже доставили. У нас специальный подход к каждому
      виду товаров.
    </p>
    <div class="wrapper">
      <div class="card wokr__card"></div>
      <div class="button__collection">
        <button class="card__btn btn-prev" type="button" data-action="prev"></button>
        <button class="card__btn btn-next" type="button" data-action="next"></button>
      </div>
    </div>

    <!-- <div class="swiper mySwiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div> -->
  </div>
</section>
