<section class="our__works">
  <div class="container">
    <h2 class="works__title main__title">Выполненные работы</h2>
    <p class="works__text text">
      Мы собрали информацию по грузам, которые мы уже доставили. У нас специальный подход к каждому
      виду товаров.
    </p>
    <div class="card">
      <img class="card__img" src="./images/our_work_1.jpg" alt="our works" />
      <h2 class="card__title secondary__title">Станки и оборудование</h2>
      <p class="card__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
      </p>
      <p class="text card__price">20 000 грн.</p>
    </div>
    <div class="card__slider">
      <label class="">
        <input class="custom-radio" checked type="radio" id="first" name="slider" />
        <input class="custom-radio" type="radio" id="second" name="slider" />
        <input class="custom-radio" type="radio" id="third" name="slider" />
      </label>
    </div>
  </div>
</section>
