<section class="profit">
  <div class="container">
    <h2 class="profit__title main__title">Почему с нами выгоднее?</h2>
    <ul class="list">
      <li class="list__item">
        <h3 class="item__title second__title">Lorem ipsum dolor sit amet</h3>
        <p class="item__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
        </p>
      </li>
      <li class="list__item">
        <h3 class="item__title second__title">Lorem ipsum dolor sit amet</h3>
        <p class="item__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
        </p>
      </li>
      <li class="list__item">
        <h3 class="item__title second__title">Lorem ipsum dolor sit amet</h3>
        <p class="item__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
        </p>
      </li>
      <li class="list__item">
        <h3 class="item__title second__title">Lorem ipsum dolor sit amet</h3>
        <p class="item__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
        </p>
      </li>
    </ul>
  </div>
</section>
