<section class="profit">
  <div class="container">
    <h2 class="main__title">Почему с нами выгоднее?</h2>
    <ul class="profit__list">
      <li class="profit__item">
        <div class="profit__icon">
          <svg class="icon" width="28" height="30">
            <use href="./images/icon/sprite.svg#icon-Grouplock"></use>
          </svg>
        </div>
        <div class="wrapper">
          <h3 class="item__title secondary__title">Lorem ipsum dolor sit amet</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
          </p>
        </div>
      </li>
      <li class="profit__item">
        <div class="profit__icon">
          <svg class="icon" width="28" height="28">
            <use href="./images/icon/sprite.svg#icon-coin"></use>
          </svg>
        </div>
        <div class="wrapper">
          <h3 class="item__title secondary__title">Lorem ipsum dolor sit amet</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
          </p>
        </div>
      </li>
      <li class="profit__item">
        <div class="profit__icon">
          <svg class="icon" width="25" height="32">
            <use href="./images/icon/sprite.svg#icon-list"></use>
          </svg>
        </div>
        <div class="wrapper">
          <h3 class="item__title secondary__title">Lorem ipsum dolor sit amet</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
          </p>
        </div>
      </li>
      <li class="profit__item">
        <div class="profit__icon">
          <svg class="icon" width="28" height="31">
            <use href="./images/icon/sprite.svg#icon-planet"></use>
          </svg>
        </div>
        <div class="wrapper">
          <h3 class="item__title secondary__title">Lorem ipsum dolor sit amet</h3>
          <p class="item__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
