<section>
  <div class="container">
    <ul class="services__list">
      <li class="services__item">
        <div class="services__icon">
          <svg class="icon" width="37" height="37">
            <use href="./images/icon/sprite.svg#icon-build"></use>
          </svg>
        </div>
        <div class="description">
          <h2 class="description__title secondary__title">Поиск производителей по товару</h2>
          <p class="description__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod incididunt
            ut.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__icon">
          <svg class="icon" width="35" height="37">
            <use href="./images/icon/sprite.svg#icon-icon"></use>
          </svg>
        </div>
        <div class="description">
          <h2 class="description__title secondary__title">Поиск конкретного производителя</h2>
          <p class="description__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod incididunt
            ut.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__icon">
          <svg class="icon" width="49" height="28">
            <use href="./images/icon/sprite.svg#icon-box"></use>
          </svg>
        </div>
        <div class="description">
          <h2 class="description__title secondary__title">Доставка образцов товаров</h2>
          <p class="description__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod incididunt
            ut.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>